:root {
    --ruimteHoog: 40px;
    --ruimteLaag: 20px;
    --achtergrondWit: white;
    --lijn: #e2e2e2;
    --hoverKleur: #5BD1D7;
    --focusKleur: #d75bd3;
    --lettertypeZwart: black;
    --lichterZwart: #303030;
    --grijzePtext: rgb(82, 82, 82);
    --fotoEnText: 114px;
}

body {
    margin:0;
    padding:5vw;
    background-color:var(--achtergrondWit);
    font-family: 'Mada', sans-serif;
    color:var(--lettertypeZwart);
}









/* HEADER */
  
header {
    background-color: var(--achtergrondWit);
    display: flex;
    justify-content: center;
}
/* met flex zetten we alle content in het midden, */
  
header img {
    width: 40vw;
}






/* MENU */
/* bron: https://dev.to/ljcdev/easy-hamburger-menu-with-js-2do0 */
* {
    margin: 0;
    box-sizing: border-box;
}
/* alle elementen */
  

header button {
    position: fixed;
    /* houdt burger rechts */
    z-index: 100;
    top: 20px;
    right: 40px;
    height: 42px;
    background: transparent;
}
/* door z blijft het menu bovenaan staan. de rest is voor het stylen van het menu */
/* na de usabilty test heb ik deze knop iets groter gemaakt en een zwarte rand gegeven, zo is die net iets beter te zien, maar nog steeds niet stort   */


.xIcoon {
    display: none;
}
/* hierdoor zou close (XIcoon) niet te zien moeten zijn */
  

header ul{
    padding-top: 40px;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0px;
    background: var(--achtergrondWit);
    transform: translateY(-100%);
    transition: transform 0.7s;
}
/* het menu is hidden, door tranform komt die naar beneden. door de transition tijd duurt het 0.2s */
/* padding = text naar beneden || door position is wat alles redt (anders)
width is het over hele pagina, niet rand || height is naar */


.showMenu {
    transform: translateY(0);
}
/* hierdoor gaat het menu later in js weer naar 0% dus omhoog */
  

header nav {
    z-index: 200;
    display: block;
    background-color: var(--achtergrondWit);
    position: absolute;
    top: 0px;
    width: 10vw;
}
/* absolute = boven || zonder top zie je het randje van de box */

header nav ul li {
    padding: 14px 16px;
    list-style-type: none;
    color: var(--lettertypeZwart);
    text-decoration: none;
    font-size: 16px;
    border-bottom: 1px solid var(--lijn);
    z-index: 200;
    display: block;
}
/* padding 1e is hoogte, 2e links */

header a {
    color: var(--lettertypeZwart);
}








/* MAIN */

main {
    padding:0 1em 1em;
    list-style:none;
    padding-bottom: 50px;
    text-align: center;
}






/* SECTION */
section {
    margin-top: var(--ruimteHoog);
    margin-bottom: var(--ruimteLaag);
}






/* LINKS */
a {
    cursor: pointer;
    text-decoration: none;
}






/* GELE BLOK */

section:nth-child(1){
    padding-top: 50px;
    padding-bottom: 40px;
    background-color: #FDFBEF;
    margin-bottom: 20px;
    z-index: 80;
}
/* gele blok is niet voor iedereen goed te zien door de lichte kleur, echter is het blok decoratief en niet echt heel belangrijk, dus ga ik deze niet aanpassen */


section:nth-child(1) img {
    width: 45vw;
    margin-left: 25%;
    margin-right: 25%;
    box-shadow: 0px 0px 4px 0px rgb(0 0 0 / 20%);
}
/* afbeelding midden zetten met boarder */


section p {
    padding:0 3em 3em;
    text-align: center;
}
/* zorgt ervoor dat de tekst centraal staat en niet tegen de rand */


section:nth-child(1) p:nth-of-type(1) {
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.5px;
    line-height: 24px;
    text-align: center; 
}
/* dit is voor de quote die onder de foto staat */

section:nth-child(1) p:nth-of-type(2) {
    font-size: 13px;
    font-weight: 320;
    letter-spacing: 0.6px;
    text-align: center;
}
/* de quote wordt hier net iets dunner (weight lager) en letter spacing meer ect */

button:nth-of-type(1) {
    margin-top: 17px;
    margin: auto;
    display: block;
    background-color: transparent;
    border: 2px solid #000;
}

button:hover {
    border: 2px solid var(--hoverKleur);
    color: var(--hoverKleur);
}
/* knop is nu zelfde achtergdrond kleur en staat centraal door disply block & margin */






/* LIJN */

.dubbelLijn {
    display: block;
    position: relative;
    height: 5px;
    border-top: 1px solid var(--lijn);
    border-bottom: 1px solid var(--lijn);
}





/* 2E SECTION MET BOEKEN */


h1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 0.6px;
    text-align: center;
    font-weight: lighter;
    margin-bottom: 20px;
}
/* geeft eerste h1 / tekst dingen */


section:nth-of-type(2) ul{
    width: 82vw;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 2em;
    margin-bottom: 2em;
    grid-row-gap: 2em;
    padding: 0;
}
/* width = uimte tussen li || wrap = naast /onder elkaar*/
    
    
section:nth-of-type(2) ul li {
    list-style-type: none;
}
/* zet foto's naast elkaar met tekst eronder en uit elkaar (margin) */
    
section:nth-of-type(2) ul li p {
    width: 8em;
    padding: 0;
    margin-left: 20%;
}

section:nth-of-type(2) ul li img {
    width: 8em;
}​


section li img {
    width: var(--fotoEnText);
    box-shadow: 0px 0px 4px 0px rgb(0 0 0 / 20%);
    align-items: center;
    margin-bottom: 12px;
}
/* grootte geven aan boekfoto's (width) en shadow geven */


section:nth-of-type(2) p {
    font-weight: lighter;
    color: var(--lichterZwart);
    font-size: 12px;
    padding-top: 4px;
    letter-spacing: .3px;
    line-height: 18px;
    padding-left: 0%;
    padding-right: 0%;
    width: var(--fotoEnText);
} 
/* tekst wordt minder drukkend en komt dichter bij elkaar te staan */
/* padding zorgt dat text 100% tegen de randen van het text blok staan hoe */








/* LIJN ENKEL */

.enkelLijn {
    border-top: 1px solid var(--lijn);
}








/* 1 ZIN MET LINK */

section:nth-of-type(3) p{
    font-size: 13px;
    font-weight: lighter;
    letter-spacing: 0.02em;
    text-align: center;
}
/* tekst info dingen + line height voor afstand van de streep */
/* het is 5e child  */


section:nth-of-type(3) a {
    font-weight: 400;
    color: #e5c948;
    text-decoration: none;
}


section:nth-of-type(3) a:hover {
    color: var(--hoverKleur);
    cursor: pointer;
}
/* link andere kleur + iets dikkere tekst dan de rest */








/* SUBSCRIBE TEKST */
  
input {
    height: 44px;
    padding-bottom: 8px;
    padding-top: 7px;
    text-align: center;
    border: 1px solid var(--lijn);
    font-size: 16px;
    font-weight: lighter;
    margin-bottom: 10px;
}
/* heigt regelt de hoogte van de box */

section:nth-of-type(4) button {
    height: 44px;
    font-size: 15px;
    font-weight: 800;
    letter-spacing: 0.05em;
    background-color: transparent;
    border: 2px solid rgba(230, 203, 69, 0.83);
    border-radius: 3px
}
/* radius zorgt voor een iets ronderen hoek */

section:nth-of-type(4){
    padding-bottom: 30px;
    text-align: center;
}
/* beetje van lijntje af en ruimte onder */








/* SOCIALS */

section:nth-of-type(5) img {
    box-shadow: none;
    width: 40px;
}

section:nth-of-type(5) li {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
/* ze uit elkaar using flex */

section:nth-of-type(5) li ul {
    display: block;
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0px;
}
/* vorige ul was voor algemeen gedaan, dus deze is voor de social ul en doet de rest ontdoen.  */








/* FOOTER */

footer {
    text-align: center;
    font-size: 13px;  
    font-weight: 500;
    color: var(--lichterZwart);
    letter-spacing: .02em;
}

footer p:nth-of-type(1) {
    font-weight: 500;
}

footer p:nth-of-type(2) {
    font-weight: 300;
    font-size: 12px;
}

footer img {
    width: 17px;
    position: relative;
    top: 4px;;
}
/* onderste 2 zorgen ervoor dat het hartje meer naar beneden staat */
















/* PAGINA 2 */


main.shop h1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 0.6px;
    text-align: center;
    font-weight: lighter;
    margin-bottom: 20px;
}
/* books & journal */



main.shop section:nth-of-type(1) {
    background: var(--achtergrondWit);
}

main.shop section:nth-of-type(1) a{
    font-size: 13px;
    float: left;
    margin-top: 21px;
}
/* winkelmandje met getal  */
/* floar right zorgt ervoor dat het niet tegen streep aan staat */






main.shop img {
    width: 45vw;
    margin-left: 25%;
    margin-right: 25%;
    box-shadow: 0px 0px 4px 0px rgb(0 0 0 / 20%);
}


main.shop a {
    position: fixed;
    left: 40px;
    padding-top: 265px;
}


main.shop h3 {
    font-size: 18px;
    font-weight: 300;
    line-height: 20px;
    margin-top: 13px;
}


main.shop .shopping-cart {
    color: black;
    cursor: pointer;
    top: 0;
}


main.shop article {
    display: flex;
    align-items: center;
    flex-direction: column;
}


main.shop p {
    font-size: 13px;
    text-align: center;
    padding-bottom: 10px;
}



main.shop {
    position:relative;
    background-color:var(--patta-background-color);
}

 
main.shop section:nth-of-type(1) img {
    box-shadow: none;
    width: 22px;
}
  

main.shop article {
    padding-top: 50px;
}
/* article padding, ruimte tussen articles */

  
main.shop article button {
    border: 2px solid rgba(230, 203, 69, 0.83);
    cursor:pointer;
    background-color: transparent;
    font-size:13px;
    font-weight:bold;
    letter-spacing: 0.28px;
    padding:.5em 1em;
}
/* maak zelfde als subscribe ding */







/* SOCIAL PAGINA 2 */
/* moest deze aanpassen omdat het door de sections niet meer klopt :) */

main.shop section:nth-of-type(3) img {
    box-shadow: none;
    width: 40px;
}

main.shop section:nth-of-type(3) li {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
/* ze uit elkaar using flex */

main.shop section:nth-of-type(3) li ul {
    display: block;
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0px;
}
/* vorige ul was voor algemeen gedaan, dus deze is voor de social ul en doet de rest ontdoen.  */







  






/* STATES */

a:hover {
    color: var(--hoverKleur);
    text-decoration: underline;
}

button:hover {
    border: 2px solid var(--hoverKleur);
    color: var(--hoverKleur);
}







a:focus{
    color: var(--focusKleur);
    border: 5px solid var(--focusKleur);
}



input:focus{
    color: var(--focusKleur);
    border: 5px solid var(--focusKleur);
}




/* ANIMATIES ECT */


.zoomIn:hover {
    animation: zoomIn 2s ease-out;
}
  
@keyframes zoomIn {
    0% {
      transform: scale(1, 1);
    }
    50% {
      transform: scale(1.5, 1.5);
    }
    100% {
      transform: scale(1, 1);
    }
}

/* hulp: https://codepen.io/vaishali1192/pen/QWdJZVy */

