/* CSS Document */
*, *::after, *::before {
  box-sizing:border-box;  
}


body {
  background-color: white;
  font-family: 'Mada', sans-serif;
  /* position: relative; */
}


/* nav {
  position: fixed;
  height: 100%;
  display: inline-block;
  vertical-align: top;
  width: 255px;
  left: 0px;
  top: 0px;
  text-align: center;
  box-shadow: 0px 0px 5px 0px rgb(0 0 0 / 40%);        
} */

body {
  font-family: 'Mada', sans-serif;
}

.paginaIndeling{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

nav ul {
  list-style-type: none;
  padding: 0 1em 0.5em 1em;
}

nav ul li {
  text-decoration: none;
}

main{
  width: 90%;
  position: relative;
  display: block;
  margin: auto;
}

.logo{
  width: 50vw;
  margin-left: 17vw;
}

.foto {
  width: 20em;
  padding:4em;
  margin: auto;
}

.sectionGeelblok {
  background-color: antiquewhite;
}

button {
  font-size: 3.5vw;
  margin-top: 17px;
  padding: 12px 19px 12px 21px;
  width: 20em;
}